<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">NoteScorer</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" ng-click="model.logout()">Sign Out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <div class="container push-down-further">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.profileflag ==1">
                <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> {{model.success}}
                </div>

                <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{model.error}}
                </div>
                <form >
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="model.user.username"
                               type="text"
                               class="form-control"
                               id="username"
                               placeholder="Username"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="model.user.email"
                               type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
                    </div>
                    <a class="btn btn-primary btn-block"
                       ng-click="model.updateUser(model.user)">Save profile</a>
                    <a class="btn btn-danger  btn-block" ng-click="model.logout()">Logout</a>
                    <a ng-click="model.unregister()"
                       class="btn btn-danger  btn-block">Unregister</a>
                    </form>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.editingUserflag ==1">
                <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> {{model.success}}
                </div>

                <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{model.error}}
                </div>
                <form >
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="model.editingUser.username"
                               type="text"
                               class="form-control"
                               placeholder="Username"
                               required/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="model.editingUser.email"
                               type="email" class="form-control" id="email1" placeholder="alice@wonderland.com">
                    </div>
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input ng-model="model.editingUser.firstName" type="text" class="form-control" id="first-name1" placeholder="Alice">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input ng-model="model.editingUser.lastName" type="text" class="form-control" id="last-name1" placeholder="Wonderland">
                    </div>
                    <a class="btn btn-primary btn-block"
                       ng-click="model.updateUser(model.editingUser)">Save profile</a>
                    <a class="btn btn-danger  btn-block" ng-click="model.logout()">Logout</a>
                    <a ng-click="model.unregister()"
                       class="btn btn-danger  btn-block">Unregister</a>
                </form>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.sheetsflag ==1">
                    <div ng-repeat="note in model.apiNotes">
                        <div class="col-md-2 thumb-img">
                            <a ng-show="note.apiId == 0"
                               href="#/results/ownsheet/{{note._id}}"
                               ng-click="model.setUrl()">
                                <img class="img-responsive thumb-img" ng-src={{note.url}} style="max-height: 70px;max-width: 100px;" alt="">
                            </a>
                            <a ng-show="note.apiId != 0"
                               href="#/results/{{model.searchText}}/{{model.pageNo}}/sheet/{{note.id}}/{{note.secret}}/0"
                               ng-click="model.setUrl()">
                                <img class="img-responsive thumb-img" ng-src="http://static.musescore.com/{{note.id}}/{{note.secret}}/thumb.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-10">
                            <h3><a ng-show="note.apiId == 0"
                                   ng-click="model.setUrl()"
                                   href="#/results/ownsheet/{{note._id}}">{{note.title}}</a></h3>
                            <h3><a ng-show="note.apiId != 0"
                                   ng-click="model.setUrl()"
                                   href="#/results/{{model.searchText}}/{{model.pageNo}}/sheet/{{note.id}}/{{note.secret}}/0">{{note.title}}</a></h3>
                            <p>{{note.metadata.pages}} pages | {{note.metadata.parts.length}} parts| {{note.view_count}} views| {{note.download_count}} downloads</p>
                        </div>
                    </div>
            </div>



            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.likedflag ==1">
                <div ng-repeat="note in model.likedNotes">
                    <div class="col-md-2 thumb-img img-thumb">
                        <a ng-show="note.apiId == 0"
                           href="#/results/ownsheet/{{note._id}}"
                           ng-click="model.setUrl()">
                            <img class="img-responsive" ng-src={{note.url}} alt="">
                        </a>
                        <a ng-show="note.apiId != 0"
                           href="#/results/ownsheet/{{note.id}}"
                           ng-click="model.setUrl()">
                            <img class="img-responsive" ng-src="http://static.musescore.com/{{note.id}}/{{note.secret}}/thumb.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h3><a ng-show="note.apiId == 0"
                               ng-click="model.setUrl()"
                               href="#/results/ownsheet/{{note._id}}">{{note.title}}</a></h3>
                        <h3><a ng-show="note.apiId != 0"
                               ng-click="model.setUrl()"
                               href="#/results/ownsheet/{{note.id}}">{{note.title}}</a></h3>
                        <h4 style="color: #2e6da4">by {{note.user.username}}</h4>
                        <p>{{note.metadata.pages}} pages | {{note.metadata.parts.length}} parts| {{note.view_count}} views| {{note.download_count}} downloads</p>
                    </div>
                    <button class="btn btn-danger" ng-click="model.unlike(note)">Unlike</button>
                </div>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.allscores == 1">
                <div ng-repeat="score in model.allScores">
                    <div class="col-md-2 thumb-img">
                        <a
                           href="#/results/sheet/{{score._id}}">
                            <img class="img-responsive " ng-src={{score.url}} alt="">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <h3><a
                               href="#/results/sheet/{{score._id}}">{{score.title}}</a></h3>
                        <h4 style="color: #2e6da4">by {{score.user.username}}</h4>
                        <p>{{score.metadata.pages}} pages | {{score.metadata.parts.length}} parts| {{score.view_count}} views| {{score.download_count}} downloads</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.followedflag ==1">
                <div ng-repeat="follow in model.followedd">
                    <div class="col-md-6 img-thumb">
                        <h2>
                            <a href="">{{follow.name}} {{follow.username}}</a>
                        </h2>
                        <button class="btn btn-danger" ng-click="model.unfollowUser(follow)">Unfollow</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8" ng-show="model.allusersflag  ==1">
                <div ng-repeat="user in model.allUsers">
                    <div class="col-md-6 img-thumb">
                        <h2>
                            <a href="#checkProfile/{{user.username}}/{{user._id}}">{{user.username}}</a>
                        </h2>
                        <button class="btn btn-danger" ng-click="model.getUser(user._id)">Edit</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" ng-show="model.admin == 0">
                <div class="well">
                    <a href="" ng-click="model.viewSheets()"><h5>Sheet Music</h5></a>
                    <a href="" ng-click="model.viewLiked()"><h5>Liked scores</h5></a>
                    <a href="" ng-click="model.viewFollowed()"><h5>Users followed</h5></a>
                    <a href="" ng-click="model.setProfileFlag()"><h5>Profile</h5></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4" ng-show="model.admin == 1">
                <div class="well">
                    <a href="" ng-click="model.getAllScores()"><h5>All Scores</h5></a>
                    <a href="" ng-click="model.getAllUsers()"><h5>All users</h5></a>
                    <a href="" ng-click="model.setProfileFlag()"><h5>Profile</h5></a>

                </div>
            </div>

            </div>


    </div>

