<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                New Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createWebsite(name, description)"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>


    <div class="container">
        <div ng-if="model.error" class="alert alert-danger">
            {{model.error}}
        </div>
        <form name="model.newWebsiteForm" novalidate>
            <div class="form-group">
                <label for="websiteName">Website Name</label>
                <input ng-model="name"
                       type="text"
                       class="form-control"
                       id="websiteName"
                       placeholder="Google"
                       required/>
            </div>
            <span ng-if="model.error">{{model.error}}</span>
            <div class="form-group">
                <label for="websiteDescription">Website Description</label>
                <textarea ng-model="description"
                          rows="4"
                          id="websiteDescription"
                          class="form-control"
                          placeholder="Description"></textarea>
            </div>
        </form>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
