<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="./images/2f3f929.png" class="logo">
                </a>
                <p class="navbar-text pull-right top-right-button">
                    <a class="btn btn-info btn-block"
                       href="#/login">SIGN IN/REGISTER</a>
                </p>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <h2>Sheet Music</h2>
    <div ng-repeat=""></div>
</div>