
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">NoteScorer</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.flag == 0">
                    <a href="#/login">Sign In</a>
                </li>
                <li ng-show="model.flag == 1">
                    <a href="" ng-click="model.logout()">Sign Out</a>
                </li>
                <li ng-show="model.flag == 0">
                    <a href="#/register">Register</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div class="container push-down-further ">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div ng-show="model.titleError" class="alert alert-danger">
        {{model.titleError}}
    </div>
    <div ng-show="model.secretError" class="alert alert-danger">
        {{model.secretError}}
    </div>
    <div ng-show="model.licenseError" class="alert alert-danger">
        {{model.licenseError}}
    </div>
    <div ng-show="model.keysigError" class="alert alert-danger">
        {{model.keysigError}}
    </div>
    <div ng-show="model.pagesError" class="alert alert-danger">
        {{model.pagesError}}
    </div>
    <div ng-show="model.partsError" class="alert alert-danger">
        {{model.partsError}}
    </div>
    <h2>Create new score</h2>
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Name</label>
            <input ng-model="model.title"
                   type="text"
                   class="form-control"
                   id="title"
                   placeholder="Score title"
                   required/>
            <span ng-if="model.error">{{model.error}}</span>
        </div>
        <div class="form-group">
            <label for="description">Score descriprion</label>
            <input ng-model="model.description"
                   type="text"
                   class="form-control"
                   id="description"
                   placeholder="Score description">
        </div>
        <div class="form-group">
            <label for="license">License type</label>
            <select ng-model="model.license"
                    ng-required="required"
                    class="form-control"
                    id="license"
                    required>
                <option value="all-rights-reserved">all-rights-reserved</option>
                <option value="public">public</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Score duration</label>
            <input ng-model="model.duration"
                   type="text"
                   class="form-control"
                   id="duration"
                   placeholder="Score duration in seconds">
        </div>
        <div class="form-group">
            <label for="keysig">Score key signature</label>
            <input ng-model="model.keysig"
                   type="text"
                   class="form-control"
                   id="keysig"
                   placeholder="Score key signature"
                   required>
        </div>
        <div class="form-group">
            <label for="pages">Number of pages</label>
            <input ng-model="model.pages"
                   type="number"
                   class="form-control"
                   id="pages"
                   placeholder="Score page count"
                   required>
        </div>
        <div class="form-group">
            <label for="secret">Score secret</label>
            <input ng-model="model.secret"
                   type="text"
                   class="form-control"
                   id="secret"
                   placeholder="Score secret"
                   required>
        </div>
        <div class="form-group">
            <label for="instrument">Score instrument</label>
            <input ng-model="model.parts"
                   type="text"
                   class="form-control"
                   id="instrument"
                   placeholder="Score instrument name"
                   required>
        </div>

        <p>
            <input  name="myFile"   type="file" class="form-control"/>
        <br>
            <input  name="userId"    value="{{model.userId}}" style="display: none"/>
            <input  name="username"    value="{{model.username}}" style="display: none"/>
            <input  name="title"    value="{{model.title}}" style="display: none"/>
            <input  name="description" value="{{model.description}}"   style="display: none"/>
            <input  name="license" value="{{model.license}}"   style="display: none"/>
            <input  name="duration" value="{{model.duration}}"   style="display: none"/>
            <input  name="keysig" value="{{model.keysig}}"   style="display: none"/>
            <input  name="pages" value="{{model.pages}}"   style="display: none"/>
            <input  name="secret" value="{{model.secret}}"   style="display: none"/>
            <input  name="parts" value="{{model.parts}}"   style="display: none"/>
            <button type="submit" class="btn btn-block btn-primary">Create Score</button>
        </p>
    </form>
</div>