<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                New Page
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.createPage(name,title)"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form name="model.newPageForm" novalidate>
        <div class="form-group">
            <label for="Pagename">Name</label>
            <input ng-model="name"
                   type="text"
                   class="form-control"
                   id="Pagename"
                   placeholder="Page Name"
                   required/>
        </div>
        <span ng-if="model.error">{{model.error}}</span>
        <div class="form-group">
            <label for="Page-title">Title</label>
                <textarea ng-model="title"
                          rows="4"
                          id="Page-title"
                          class="form-control"
                          placeholder="Page Title"></textarea>
        </div>
    </form>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
