
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

    <div class="container">

        <form>
            <div class="widget-choice">
                <a ng-click="model.createHeading()"">Header</a>
            </div>
            <div class="widget-choice">
                <a href ="#">Label</a>
            </div>
            <div class="widget-choice">
                <a href ="#">HTML</a>
            </div>
            <div class="widget-choice">
                <a href ="#">Text Input</a>
            </div>
            <div class="widget-choice">
                <a href ="#">Link</a>
            </div>
            <div class="widget-choice">
                <a href ="#">Button</a>
            </div>
            <div class="widget-choice">
                <a ng-click="model.createImage()">Image</a>
            </div>
            <div class="widget-choice">
                <a ng-click="model.createYoutube()">YouTube</a>
            </div>
            <div class="widget-choice">
                <a href ="#">Data Table</a>
            </div>
            <div class="widget-choice">
                <a href ="#">Repeater</a>
            </div>
        </form>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center">
                <a href="#/profile/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>